{% extends 'base.html' %}

{% block title %}
  Profile
{% endblock %}

{% block content %}
  {% for message in messages %}
    {% if id_this_user == message.user_id %}
      <div class="cd-block">
        <span  style="color:#E19B5E;">{{ message }}</span>
      </div><br>
    {% else %}
      <div class="cd-block">
        <span style="color:#726DE1;">{{ message }}</span>
      </div><br>
    {% endif %}
  {% endfor %}
  <form action="{% url 'chat_detail_url' message_token=id_chat %}" method="POST">
    {% csrf_token %}
    <textarea name="name" rows="1" cols="40" style="resize:none;border-radius: 10px;color: #D8A15E;"></textarea>
    <button type="submit" class="btn btn-outline-info" style="margin-bottom:30px;">Отправить</button>
  </form>
{% endblock %}



<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-6 offset-md-2"> -->
